[tool.poetry]
name = "quotexpy"
version = "1.0.1"
description = "QuotexPy is a library for interact with qxbroker easily!"
authors = ["Santiago Ramirez <miguelsantiago1940@gmail.com>"]
license = "BSL"

[tool.poetry.dependencies]
python = "^3.5"

[tool.black]
line-length = 120
target-version = ['py39']
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core @ git+https://github.com/python-poetry/poetry-core.git"]
python_requires = ">=3.10"
build-backend = "poetry.core.masonry.api"
