appdirs==1.4.4
beautifulsoup4==4.11.2
certifi==2022.12.7
charset-normalizer==3.2.0
cloudscraper==1.2.71
idna==3.4
importlib-metadata==6.2.0
playwright==1.38.0
pyee==9.0.4
pyparsing==3.1.1
requests==2.31.0
requests-toolbelt==1.0.0
shutup==0.2.0
simplejson==3.18.3
soupsieve==2.4
termcolor==2.3.0
tqdm==4.65.0
typing_extensions==4.5.0
urllib3==2.0.5
websocket-client==1.6.3
websockets==11.0.3
zipp==3.17.0
